.header {
	height: 10vh;
	display: flex;
	align-items: center;
	gap: 2rem;
	padding-inline: 1rem;
	border-bottom: 1px solid var(--border);

	h1 {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 700;
	}
	p {
		font-size: 0.875rem;
		line-height: 1.25rem;
		color: var(--muted-foreground);
	}
	a {
		font-size: 0.75rem;
		font-weight: 500;
		margin: auto;
	}
}

.main {
	margin-block: 2.5vh;
	max-height: 85vh;
	display: flex;
	justify-content: space-evenly;
}
